html,
body {
  font-family: 'RobotoRegular', sans-serif;
  font-size: 16px;
  color: #798289;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: #00a7dd;
  &:hover {
  color: #017298;
  }
}

ul, li {
  list-style: none;
  margin:0 0 10px;
  padding: 0;
  color: #404041;
}

p {
  color: #404041;
}

.sub-head {
  font-family: 'BebasRegular';
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 50px;
  text-align: center;
  font-size: 25px;
  color: #404041;
  text-transform: uppercase;
}

.title {
  margin-bottom: 25px;
  text-align: center;

  h2 {
    display: inline-block;
    position: relative;
    color: #00A7DD;
    font-weight: normal;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 30px 10px;
    color: #0aabe1;
    &:hover:after {
      left: 0;
      margin-left: 0px;
      width: 100%;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
    }
    &:after {
      background: none repeat scroll 0 0 #0aabe1;
      bottom: -1px;
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -25px;
      position: absolute;
      transition: all 0.3s ease 0s;
      width: 50px;
    }
  }
}

.trans-bg {
  position: relative;
  background: rgba(0, 0, 0, 0.70);
  padding: 120px 0;
}

.footer-trans-bg {
  position: relative;
  background: rgba(0, 0, 0, 0.70);
  padding: 120px 0;
  height: 400px;
}


#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}


h1, h2, h3, h4 {
  font-family: 'BebasRegular', sans-serif;
  margin: 10px 0;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
