.btn {
  position: relative;

  padding: 8px 30px;

  font-family: "BebasBold";
  text-transform: uppercase;

  color: $blue-soft;
  border: 1px solid $blue-soft;
  border-radius: 2px;
  background: transparent;

  transition: all .5s ease;
  &:after {

  }

  &:hover {

  }

  &:active {

  }
}
