.btn {
  color: #0aabe1;
  background: transparent;
  border: 1px solid #0aabe1;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 30px;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background: #0aabe1;
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
.btn:hover:after {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.btn:hover,
.btn.active,
.btn:active {
  color: #fff;
  z-index: 1;
}
