$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$white: #fefefe;

$black: #000000;

$color-main: #798289;

$blue-light: #00a7dd;
$blue-dark: #017298;
$blue-soft: #0aabe1;

$dark: #191919;
