$ptsans: "PTSans", "Tahoma", sans-serif;

$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";

$white: #ffffff;
$black: #000000;

$red: #d12f22;
$gray:#242424;
$gray-soft: #D6D6D6;
$dark: #191919;
