#background-carousel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:-1;

  .carousel,
  .carousel-inner {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }

  .item {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: opacity 1s;
  }

  .item-no1 {
    background: url(../img/slider/slide-1.jpg) no-repeat;
    background-size: cover;
  }

   .item-no2 {
    background: url(../img/slider/slide-2.jpg) no-repeat;
    background-size: cover;
  }

  .item-no3 {
    background: url(../img/slider/slide-3.jpg) no-repeat;
    background-size: cover;
  }

  .carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
  }

}

.banner-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 55px;
  letter-spacing: 0.05em;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

.banner-carousel .trans-bg {
    padding: 0 0px 120px;
}

.lg-logo  {
  min-height: 350px;
  background: url("../img/lg-logo.svg") center center no-repeat;
  background-size: 35%;
}

.more-block {
  text-align: center;

  .btn-more {
    display: inline-block;
    margin-right: 30px;
    padding: 15px 0;
    width: 200px;
    border: 1px solid #0aabe1;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #0aabe1;
    transition: all .3s ease-in;

    &:nth-child(2) {
      margin-right: 0;
    }

    &:hover {
      background: #ff7f66;
      border-color: #ff7f66;
    }
  }
}
