.section-spacing {
  padding: 4.5em 0;
}

.counter {
  background: $blue-light;
  color: #fff;
  padding: 4.5em 0;
}

.counter h3 {
  font-family: 'RobotoLight';
  color: $white;
  margin-top: 20px;
  margin-bottom: 12px;
}

.counter p {
  margin-bottom: 35px;
  color: #fff;
}

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 1.5em; }
