.counter {
  background: #00a7dd;;
  color: #fff;
  padding: 70px 0;

  // .col-xs-6 {
  //   padding-right: 12px;
  //   padding-left: 12px;
  // }
}

.counter h3 {
  font-family: 'RobotoLight';
  color: #fff;
  margin-top: 20px;
  margin-bottom: 12px;
}

.counter p {
  // font-size: 14px;
  // margin-bottom: 35px;
  color: #fff;
}

