.intro {
  overflow: hidden;
  padding: 120px 0;
}
h2 {
  font-weight: 800;
  margin-bottom: 50px;
  color: #fff;
}
h3 {
  font-weight: 600;
  color: #0aabe1;
}
.intro .fa {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 10px;
  padding: 22px;
  color: #00a8e0;
  border: 2px solid #00a8e0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition:  all ease-in .4s;
  -webkit-transition: all ease-in .4s;
  -moz-transition: all ease-in .4s;
}
.app-block {
  text-align: center;
  margin-bottom: 30px;
}
.app-block:hover .fa {
  color: #fff;
  box-shadow: inset 0px 0px 0px 50px #00a8e0;
  -webkit-box-shadow: inset 0px 0px 0px 50px #00a8e0;
  -moz-box-shadow: inset 0px 0px 0px 50px #00a8e0;
  border: 2px solid transparent;
}

.white {
  background: #fff;
}
.sub-head {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #798289;
  text-transform: uppercase;
}
.title {
  display: block;
  text-align: center;
}
.title h2 {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 30px 10px;
  color: #0aabe1;
}
.title h2:after {
  background: none repeat scroll 0 0 #0aabe1;
  bottom: -1px;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 50px;
}
.title h2:hover:after {
  left: 0;
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
