.feature {
  background: url(../img/product_bg.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  overflow: hidden;
}
.feature-list-left li {
  text-align: right;
  padding-right: 80px;
}
.feature-list-left li, .feature-list-right li {
  position: relative;
  margin-bottom: 30px;
}
.feature-list-left .feature-icon {
  position: absolute;
  top: 15%;
  right: 0px;
  width: 58px;
  height: 58px;
}
.feature-list-left .feature-icon, .feature-list-right .feature-icon {
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all ease-in .4s;
  -moz-transition: all ease-in .4s;
  -o-transition: all ease-in .4s;
  -ms-transition: all ease-in .4s;
}
.feature-list-left .fa, .feature-list-right .fa {
  font-size: 23px;
  line-height: 56px;
}
.feature-list-right .feature-detail {

}
.feature-list-right li {
  text-align: left;
  padding-left: 80px;
}
.feature-list-right .feature-icon {
  position: absolute;
  top: 15%;
  left: 0px;
  width: 58px;
  height: 58px;
}

.feature h4 {
  font-weight: 700;
  color: #fff;
}
.feature p {
  font-size: 14px;
  color: #fff;
}
.feature-list-left li:hover .feature-icon, .feature-list-right li:hover .feature-icon {
  box-shadow: inset 0px 0px 0px 50px #fff;
  -webkit-box-shadow: inset 0px 0px 0px 50px #fff;
  -moz-box-shadow: inset 0px 0px 0px 50px #fff;
  color: #00A7DD;
  border: 2px solid transparent;
}

.feature .trans-bg{
  padding: 120px 0;
  background: rgba(0, 0, 0, 0.70);
}


.support-block {
  position: relative;
  background: #f7f7f7;
  margin: 50px 0 0;
  padding: 70px 30px 70px;
  text-align: center;
}

.support-block p {
  color: $color-main;
  font-size: 16px;
}

.support-block h4 {
  color: $color-main;
  text-transform: capitalize;
}

.support-block:hover,
.support-block.active {
  background: #0aabe1;
}
.support-block:hover h3,
.support-block:hover h4,
.support-block:hover p,
.support-block.active h3,
.support-block.active h4,
.support-block.active p {
  color: #fff;
}
.support-block:hover .fa,
.support-block.active .fa {
  background: #fff;
  color: #0aabe1;
  box-shadow: 0px 0px 0px 10px #0aabe1;
  -webkit-box-shadow: 0px 0px 0px 10px #0aabe1;
  -moz-box-shadow: 0px 0px 0px 10px #0aabe1;
}
.support-block h3 {
  font-size: 35px;

  margin-bottom: 15px;
}
.support-block .support-icon {
  position: absolute;
  top: -31px;
  left: 50%;
  margin-left: -31px;
}
.support-block .fa {
  width: 63px;
  height: 63px;
  font-size: 30px;
  line-height: 2;
  color: #fff;
  background: #0aabe1;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
  -webkit-box-shadow: 0px 0px 0px 10px #cceef9;
  -moz-box-shadow: 0px 0px 0px 10px #cceef9;
}


