.product {
  background: url(../img/product_bg.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0 0;
  overflow: hidden;
}

.product-list-left li {
  padding-right: 80px;
  text-align: right;
}

.product-list-left li,
.product-list-right li {
  position: relative;

  margin-bottom: 30px;
}

.product-list-left .product-icon {
  position: absolute;

  top: 15%;
  right: 0px;

  width: 58px;
  height: 58px;
}

.product-list-left .product-icon,
.product-list-right .product-icon {
  width: 58px;
  height: 58px;

  text-align: center;
  line-height: 56px;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;

  transition: all ease-in .4s;
}

.product-list-left .fa,
.product-list-right .fa {
  font-size: 23px;
  line-height: 56px;
}

.product-list-right li {
  padding-left: 80px;

  text-align: left;
}

.product-list-right .product-icon {
  position: absolute;

  top: 15%;
  left: 0px;

  width: 58px;
  height: 58px;
}

.product h2 {
  margin-bottom: 50px;
}

.product h4 {
  color: #fff;
}

.product p {
  font-size: 14px;

  color: #fff;
}

.product-list-left li:hover .product-icon,
.product-list-right li:hover .product-icon {
  box-shadow: inset 0px 0px 0px 50px #fff;
  color: $blue-light;
  border: 2px solid transparent;
}

.product .trans-bg {
  padding: 120px 0;

  background: rgba(0, 0, 0, 0.60);
}


.product-info {
  position: relative;
  margin: 50px 0 0;
  padding: 70px 30px 70px;

  text-align: center;

  background: $white;

  cursor: pointer;

  transition: all ease-in .4s;
}

.product-info p {
  font-size: 16px;

  color: $color-main;
}

.product-info h4 {
  color: $color-main;

}

.product-info:hover {
  background: #0aabe1;
}

.product-info:hover h3,
.product-info:hover h4,
.product-info:hover p {
  color: #fff;
}

.product-info:hover .fa {
  background: #fff;
  color: #0aabe1;
  box-shadow: 0px 0px 0px 10px #0aabe1;

  transition: all ease-in .4s;
}

.product-info h3 {
  font-size: 35px;

  margin-bottom: 15px;
}

.product-info .support-icon {
  position: absolute;

  top: -31px;
  left: 50%;

  margin-left: -31px;
}

.product-info .fa {
  width: 63px;
  height: 63px;

  font-size: 30px;
  line-height: 2;

  color: #fff;
  background: #0aabe1;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
}


