.product {
  padding: 120px 0;
}

.product img {
  padding-top: 50px;
}

.product-list-right li {
  position: relative;
  margin-bottom: 30px;
}

.product-list-left .product-icon {
  position: absolute;
  top: 15%;
  right: 0px;
  width: 58px;
  height: 58px;
}

.product-list-right .product-icon {
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 56px;
  color: #00A7DD;
  border: 2px solid #00A7DD;
  border-radius: 50%;
  transition: all ease-in .4s;
}

.product-list-right .fa {
  font-size: 23px;
  line-height: 56px;
}

.product-list-right li {
  text-align: left;
  padding-left: 80px;
}

.product-list-right .product-icon {
  position: absolute;
  top: 15%;
  left: 0px;
  width: 58px;
  height: 58px;
}

.product-detail {
  h3 {
    font-weight: normal;
    color: #00A7DD;
  }
  p {
    font-size: 14px;
  }
}

.product-list-right li:hover .product-icon {
  box-shadow: inset 0px 0px 0px 50px #ff7f66;;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
}


// Hellium
.hellium {
  padding: 120px 0;
  background: url(../img/bg_2.jpg) no-repeat fixed;
  background-size: cover;
  h3 {
    font-weight: normal;
    color: #00A7DD;
  }
}

.hullium-detail {
  margin-bottom: 25px;
  li {
    margin-left: 50px;
    list-style: disc;
  }
}



