.services {
  overflow: hidden;
  padding: 120px 0;

  h3 {
    font-weight: normal;
    color: #00A7DD;
  }

  .fa {
    display: inline-block;
    font-size: 32px;
    margin-bottom: 10px;
    padding: 22px;
    color: #00a8e0;
    border: 2px solid #00a8e0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition:  all ease-in .4s;
  }
}

.services-block {
  text-align: center;
  margin-bottom: 30px;
  &:hover .fa {
    color: #fff;
    box-shadow: inset 0px 0px 0px 50px #00a8e0;
    border: 2px solid transparent;
  }
}

